@media screen and (max-width: 576px) {
    .nevigetion{
        flex-direction: column;
        
    }
    .nav-left{
        width: 100%;
        justify-content: center;
    }
    .nav-right{
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
/* nav end */
.bannar-continer{
    flex-direction: column;
}
.bannar{
    width: 100%;
    margin: 0px;
}
.bannar-img{
    width: 100%;
}
/* bannar end */
.we-are-gamer-continer{
    flex-direction: column;
}
.we-are-gamer-title,
.we-are-gamer-discription,
.btn-know-more,
.we-are-gamer-ourpurpose
{
   justify-content: center;
}
.title-continer > h3{
    text-align: center;
}
    
/* we are gamer End */

.card-continer{
    flex-direction: column;
    gap: 20px;
}

}
/* Tab screen */

@media screen and (min-width:576px) and (max-width:960px) {
    
    
    
    }