
@media screen and (max-width: 576px) {
    .nevigetion{
        flex-direction: column;
    }
    .nav-left {
      width: 100%;
      justify-content: center;
      padding: 10px;
    }
    .nav-left img {
      width: 40px;
      height: 24px;
    }
    .nav-right {
        width: 100%;
    flex-direction: column;
    justify-content: center;
    }
  
    /*  banner section */
    .bannar-continer {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .bannar-img {
      width: 100%;
      margin-top: 20px;
    }
    .bannar-img img {
      width: 100%;
      height: auto;
    }
    .play-like-title {
      font-size: 30px;
    }
    .goat-title {
      font-size: 60px;
    }
    .btn-sing-in,
    .btn-sky-blue {
      padding: 8px 20px;
      font-size: 16px;
    }
  
    /* video section */
    .card-continer {
      flex-direction: column;
      flex-wrap: wrap;
    }
    .card {
      width: 100%;
    }
    .play-btn {
      top: 40%;
    }
    .fa-circle-play {
      font-size: 30px;
      padding: 15px;
      margin-bottom: 5px;
    }
  
    /* We are gamer section */
    .we-are-gamer-content {
      text-align: center;
    }
    .we-are-gamer-title {
      text-align: center;
      font-size: 36px;
    }
    .we-are-gamer-discription {
      text-align: center;
    }
    .btn-know-more {
      margin-top: 20px;
      padding: 8px 20px;
      font-size: 16px;
    }
    .cat-img{
        width: 100%;
    }
    .play-instantly-img{
        width: 100%;
    }
    .play-instantly-contina{
        flex-direction: column;
    }
    .review-continer{
        flex-direction: column;
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        width: 100%;
    
    }
    .footer-about >ul{
        flex-direction: column;
        display: grid;
        grid-template-columns:repeat(3, 1fr);
    }
    .footer-logo >ul{
        flex-direction: column;
        display: grid;
        grid-template-columns:repeat(3, 1fr);
    }
    .footer-policy >ul{
        flex-direction: column;
        display: grid;
        grid-template-columns:repeat(2, 1fr);
    
    }
  }

  
  